html {
    background-image: url(background.jpg);
    width: 100vw;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    min-width: 600px;
}

 h1 {
    text-align: center;
    background: #c04518;
    color: white;
    width: 75%;
    padding: 15px;
}

 #pizza-slices, #people  {
    margin: 10px;
} 


label {
    color: white;
    background-color: #e38c3a;
    border: 2px solid #c04518;
    font-size: 1.25rem;
    margin: 25px;
}

input {
    border: 3px solid #e38c3a;
    font-size: 1rem
}

#submit {
    display: flex;
    justify-content: center;
    background-color: #c04518;
    border: none;
    color: white;
    padding: 10px;
    font-size: 1rem;
    margin: 20px;
    border-radius: 10px;
}

#submit:hover {
    background-color: #e38c3a;
    cursor: pointer;
}

#result {
    margin: 0 auto;
    display: flex;
    width: 55%;
    height: auto;
    padding: 5px;
    font-size: 1.2rem;
    text-align: center;
    justify-content: center;
    border: 3px solid #e38c3a;
    background-color: white;
    color: #c04518;
} 