html {
    background-image: url(background.jpg);
    width: 100vw;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    background: #c04518;
    color: white;
    width: 75%;
    padding: 15px;
}
#pizza-slices, #people  {
    margin: 50px;
}

label {
    color: white;
    background-color: #e38c3a;
    font-size: 1.5rem;
    margin: 30px;
    padding: 10px;
    border:3px solid #c04518;
}

.label-1, .label-2 {
    margin-bottom: 30px;
}

input {
    border: 3px solid #e38c3a;
    font-size: 1rem
}

#result {
    margin: 0 auto;
    display: flex;
    width: 55%;
    font-size: 1.5rem;
    border: 3px solid #e38c3a;
}